<mat-dialog-content>
  <h3>{{ room.mode === 'ARS' 
    ? ("topic-cloud-filter.questions-title" | translate) 
    : ("topic-cloud-filter.ple.questions-title" | translate) }}</h3>

  <span
    *ngIf="isTopicRequirementActive"
    style="margin-bottom: 1em; display: block">
    <mat-icon
      [inline]="true"
      style="
        color: var(--red) !important;
        font-size: x-large;
        padding-right: 10px;
        margin-bottom: -10px;
      ">
      tag
    </mat-icon>
    {{ "header.overview-admin-config-enabled" | translate }}
  </span>

  <mat-radio-group
    [(ngModel)]="continueFilter"
    aria-label="Select an option">
    <ng-container *ngFor="let radioTyp of filterTypes(); let i = index">
      <mat-radio-button
        *ngIf="filterInfos[radioTyp].active"
        [value]="radioTyp">
        <div class="elementRow">
          <div
            class="elementText"
            *ngIf="isMobile">
            {{ room.mode === 'ARS'
            ? ("topic-cloud-filter." + radioTyp + "-short" | translate)
            :  ("topic-cloud-filter.ple." + radioTyp + "-short" | translate) }}
          </div> 
          <div
            class="elementText"
            *ngIf="!isMobile">
            {{  room.mode === 'ARS'
            ? ("topic-cloud-filter." + radioTyp | translate)
            : "topic-cloud-filter.ple." + radioTyp | translate }}
          </div>
          <div
            class="elementIcons"
            *ngIf="filterInfos[radioTyp].count">
            <mat-icon
              [inline]="true"
              matTooltip="{{ 'header.overview-question-tooltip' | translate }}">
              comment
            </mat-icon>
            {{ filterInfos[radioTyp].count.comments }}
            <mat-icon
              [inline]="true"
              matTooltip="{{
                'header.overview-questioners-tooltip' | translate
              }}">
              person
            </mat-icon>
            {{ filterInfos[radioTyp].count.users }}
            <mat-icon
              class="comment_tag-icon"
              matTooltip="{{ 'header.overview-keywords-tooltip' | translate }}">
              tag
            </mat-icon>
            {{ filterInfos[radioTyp].count.keywords }}
          </div>
        </div>
      </mat-radio-button>
    </ng-container>
  </mat-radio-group>

  <mat-card
    *ngIf="hasNoKeywords"
    class="noKeywords">
    <p>{{ "topic-cloud-filter.info-no-keywords" | translate }}</p>
    <button
      mat-flat-button
      type="button"
      class="mat-flat-button secondary-confirm-button"
      (click)="onKeywordRefreshClick()">
      {{ "topic-cloud-filter.label-refresh-keywords-start" | translate }}
    </button>
  </mat-card>

  <app-worker-dialog [inlined]="true"></app-worker-dialog>

  <ars-row
    ars-flex-box
    class="action-button-container">
    <ars-col>
      <button
        mat-flat-button
        class="help-button"
        (click)="openHelp()">
        <mat-icon>question_mark</mat-icon>
        {{ "explanation.label" | translate }}
      </button>
    </ars-col>
    <ars-col>
      <app-dialog-action-buttons
        buttonsLabelSection="topic-cloud-filter"
        confirmButtonLabel="create"
        buttonIcon="radar"
        [spacing]="false"
        [cancelButtonClickAction]="cancelButtonActionCallback()"
        [confirmButtonClickAction]="
          confirmButtonActionCallback()
        "></app-dialog-action-buttons>
    </ars-col>
  </ars-row>
</mat-dialog-content>
