<mat-form-field>
    <mat-select [formControl]="data.control">
        <mat-option *ngFor="let option of data.options" [value]="option.name" >
            {{option.name | translate}}
        </mat-option>
    </mat-select>
</mat-form-field>